canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#game_screen, #game_controls {
    width: 40%;
}

.pointer {
    cursor: pointer;
}

.stepback_button {
    display: none;
}

.modebar{
      display: none !important;
}
