canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

#game_screen, #game_controls {
    width: 40%;
}

#game_controls {
    display: none;
}

.pointer {
    cursor: pointer;
}

#game_controls, #regulator_menu, #regulator_settings {
    display: none;
}

#reset_regulator, #choose_regulator {
    display: none;
}
